@font-face {
    font-family: GreekCesarFont;
    src: url("/src/assets/fonts/Interfearence.ttf");
}

#changing_text {
    text-transform: uppercase;
    font-family: GreekCesarFont;
    color: darkorange;
    font-size: 0.9em;
}

@keyframes animate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
