---
let { items } = Astro.props;

function capitalizeText(text: string): string {
  return text
    .toLowerCase()
    .split(" ")
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
}
---

<div>
  <select
    id="packages"
    name="packages"
    class="-mt-8 block w-full rounded-md border-0 py-[7px] pl-3 pr-10 text-gray-900 dark:text-gray-50 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6"
  >
    <option value="">Filter Category</option>
    {items.map((i: string) => <option value={i}>{capitalizeText(i)}</option>)}
  </select>
</div>
