---
import "../styles/bulletin.scss";
import { Icon } from '@astrojs/starlight/components';
---

<div class="container not-content" id="notificationContainer">
	<div class="rectangle">
		<div class="notification-content">
			<div class="icon-title">
				<div class="info-group">
					<Icon name="information" />
					<h4>Bulletin</h4>
				</div>
				<Icon class="close-icon" name="close" />
			</div>
			<ul class="notification-list">
				<li>
					🟠 Observed freezing on VMware VM on Athena OS due to a <a style="text-decoration:none" href='https://bugzilla.kernel.org/show_bug.cgi?id=217914'>6.5.x kernel bug</a>
				</li>
				<li>
					🟠 Red Team, Blue Team and PWNage menus and other GNOME extensions not working due to <a style="text-decoration:none" href='https://archlinux.org/packages/extra/x86_64/gnome-shell/'>GNOME 45</a> migration
				</li>
			</ul>
		</div>
	</div>
</div>

<script>
const closeIcon = document.querySelector('.close-icon');

closeIcon.addEventListener('click', function(event) {
    notificationContainer.style.display = 'none';
    event.stopPropagation(); // Prevent triggering the container's click event
});

</script>