---
import "../styles/bulletin.scss";
import { Icon } from '@astrojs/starlight/components';
---

<div class="container not-content" id="notificationContainer">
	<div class="rectangle">
		<div class="notification-content">
			<div class="icon-title">
				<Icon name="information" />
				<h4>Bulletin</h4>
			</div>
			<ul class="notification-list">
				<li>
					🟠 Observed freezing on VMware VM on Athena OS due to a <a style="text-decoration:none" href='https://bugzilla.kernel.org/show_bug.cgi?id=217914'>6.5.x kernel bug</a>
				</li>
				<li>
					🟠 Red Team, Blue Team and PWNage menus and other GNOME extensions not working due to <a style="text-decoration:none" href='https://archlinux.org/packages/extra/x86_64/gnome-shell/'>GNOME 45</a> migration
				</li>
			</ul>
		</div>
	</div>
</div>

<script>
const notificationContainer = document.getElementById('notificationContainer');

notificationContainer.addEventListener('click', function() {
    notificationContainer.style.display = 'none';
});
</script>