---
import "/src/styles/timeline.scss";
---
<div class="swiper-container">
  <div class="swiper-wrapper timeline">
    <div class="swiper-slide">
        <div class="timestamp">
          <span>Milestone Q1</span>
        </div>
        <div class="status completed">
          <span><a style="text-decoration:none" href='/en/resources/blueteam-menu/'>Blue Team Tools</a></span>
        </div>
    </div>
    <div class="swiper-slide">
      <div class="timestamp">
        <span>Milestone Q2</span>
      </div>
      <div class="status completed">
        <span><a style="text-decoration:none" href='/en/configuration/hyprland/'>Hyprland Support</a></span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="timestamp">
        <span>Milestone Q3</span>
      </div>
      <div class="status completed">
        <span><a style="text-decoration:none" href='/en/resources/cyber-hub/'>Athena Cyber Hub</a></span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="timestamp">
        <span>Milestone Q4</span>
      </div>
      <div class="status">
        <span>Bspwm Support</span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="timestamp">
        <span>Milestone Q4</span>
      </div>
      <div class="status">
        <span>Athena Tweak Tool</span>
      </div>
    </div>
  </div>
</div>
<div class="swiper-mobile-container">
  <ul class="timeline">
    <li>
      <div class="direction-l completed">
        <div class="flag-wrapper">
          <span class="flag"><a style="text-decoration:none" href='/en/resources/blueteam-menu/'>Blue Team Tools</a></span>
          <span class="time-wrapper"><span class="time">Milestone Q1</span></span>
        </div>
      </div>
    </li>
    <li>
      <div class="direction-l completed">
        <div class="flag-wrapper">
          <span class="flag"><a style="text-decoration:none" href='/en/configuration/hyprland/'>Hyprland Support</a></span>
          <span class="time-wrapper"><span class="time">Milestone Q2</span></span>
        </div>
      </div>
    </li>
    <li>
      <div class="direction-r completed">
        <div class="flag-wrapper">
          <span class="flag"><a style="text-decoration:none" href='/en/resources/cyber-hub/'>Athena Cyber Hub</a></span>
          <span class="time-wrapper"><span class="time">Milestone Q3</span></span>
        </div>
      </div>
    </li>
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Bspwm Support</span>
          <span class="time-wrapper"><span class="time">Milestone Q4</span></span>
        </div>
      </div>
    </li>
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Athena Tweak Tool</span>
          <span class="time-wrapper"><span class="time">Milestone Q4</span></span>
        </div>
      </div>
    </li>
  </ul>    
</div>
